{% extends 'home/index.html' %}
{% block app %}
<div id="image-cover"></div>
<div class="container">
    <div id="signDiv">
        <h1>Sign in</h1>
        <form data-id="login">
            <label for="username">Username</label>
            <input id="username" required/>
            <label for="password" type="password">Password</label>
            <div class="psw-wrapper">
                <input id="password" type="password" required>
            </div>
            <button type='submit' id="submit" data-link="/home" class="button-type1">Sign in</button>
        </form>
        <div class="line-text">
            <span>or</span>
        </div>
        <a class="clickable" href="#">
            <img src="static/img/intra-removebg-preview 1.png">
            <p>Sign in with <span>Intra</span></p>
        </a>
        <p>don't you have an Account?<a href="./signUp" id="signUp"> Sign up</a></p>
    </div>
</div>
{% endblock app %}