h1
{
    font-size: 2.7rem;
    font-weight: bold;
}

p,label
{
    font-size: max(0.8vw, 0.9vh);
}
.iconify
{
    width: 100%;
    font-size: 30px;
    color: white;
    pointer-events: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input{
        background-color: var(--input-field);
        color: white;
        width: 300px;
        height: 50px;
        border-radius: 12px;
        border: solid var(--border) 1px;

        padding-left: 7px;
        font-size: 1.1rem;
    }
}
#button-type1
{
    border-radius: 35px; 
    height: 60px;
    margin: 7px 0px 0px 0px;

    border: none;
    background: var(--button-type1);
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    background-size: 200%;
    background-position: 0%;
    cursor: pointer;

    &:hover
    {
        animation: anime 1.3s forwards;
    }
}

.button-type2
{
  width: max(40%, 10vw);
  height: max(31%, 8vh);
  border-radius: min(1vw, 1vh);
  background-color: var(--highlight);
  color: white;
  font-size: max(2vw, 2.3vh);;
  font-weight: 900;
  margin-top: auto;
  cursor: pointer;
  border: none;
  
  &:hover
  {
    transition: 0.2s ease-in;
    border: solid 1px var(--highlight);
    background-color: rgba(0,0,0,0);
    color: var(--highlight)
  }
}
.button-type3
{
    width: max(10vw, 10vh);
    height: min(7vw, 7vh);
    border : none;
    border-radius: 7px;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    background-color : var(--delete);
    color : white;

    &:hover
    {
      transition: 0.2s ease-in;
      border: solid 1px var(--delete);
      background-color: rgba(0,0,0,0);
      color: var(--delete)
    }
}

.button-type4
{
    width: max(10vw, 10vh);
    height: min(7vw, 7vh);
    border : none;
    border-radius: 7px;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    background-color : var(--secondary);
    color : white;

    &:hover 
    {
      transition: 0.2s ease-in;
      background-color: var(--secondary-hover);
    }
}
.anchor-box
{
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle
{
  border-radius: 50%;
  background-color: var(--secondary2);
  position: relative;
  &:hover
  {
    background-color: var(--secondary2-hover);
  }     
}
.active-notification::before
  {
      content: "";
      height: 12px;
      width: 12px;
      background-color: var(--highlight);
      
      position: absolute;
      border-radius: 50%;
      left: 0;
      bottom: 0;
  }    
.square 
{
  background-color: var(--secondary);
  border-radius: 15px;
  &:hover
  {
    background-color: var(--secondary-hover);
  }
}  
.table-box
{
  overflow: hidden;
  height: 100%;
  box-sizing: border-box; /* Ensure padding doesn't affect the layout */
  height: auto; /* Allow the height to be flexible based on content */
  box-sizing: border-box;
  h3 {
    padding: 20px 0px 20px 20px;
  }
  #table
  {
      margin: 0 auto;
      width: 90%;
      overflow-y: auto;
      /* overflow: hidden; */
      /* height: auto;
      min-height: 200px
      max-height: 550px; */
      height: clamp(200px, 60vh, 550px);
      &::-webkit-scrollbar
      {
          width: 10px;
      }
      &::-webkit-scrollbar-thumb
      {
          background-color: var(--secondary2);
          border-radius: 10px;
      }
      table
      {
          border-collapse: collapse;
          margin: 0 auto;
          thead
          {
              border: 1px solid rgba(255,255,255, 0.2);
              font-size: 0.8rem;
          }
          th
          {
              background-color: var(--secondary2);
          }
          th, td
          {
              padding: 10px;
              text-align: left;
            }
            
            td
            {
              font-size: 0.7rem;
              border-bottom: 1px solid rgba(255,255,255, 0.1);

            }
            #no-data
            {
              text-align: center;
              padding: 30px;
              border-bottom: none;
              font-size: 1rem;
            }
          
          td[class="message-info"]
          {
              /* padding-top: 50px; */
              border: none;
              text-align: center;
          }
      }
  }
}

/* if i do have a lot of keyframes it needs to be on its own file */
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@media (max-width : 750px)
{
    .iconify
    {
      font-size: 20px;
    }
    h2
    {
        font-size: 16px;
    }
    h3 
    {
      font-size: 12px;
    }
    .anchor-box
    {
      height: 40px;
      width: 40px;
    }
    /* p,label
    {
        font-size: 0.5rem;
    } */
    /* .button-type2
    {
      width: 70px;
      height: 35px;

      font-size: 12px;
    } */

    .table-box
    {
      #table
      {
          height: 100px; 
      }
    }
} 