#modal-background
{
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;

  display: none;
  z-index : 103;
  justify-content: center;
  align-items: center;
  top: 0;
  
  #modal
  {
    padding: max(3vw, 2vh) max(2vw, 1vh);
    background-color: #190b399c;
    color : white;
    border: solid 0.1px var(--secondary);
  
    border-radius: max(1vw, 1vh);
    backdrop-filter: blur(1px);
  }
  .modal-special
  {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.rank{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 4em;
  grid-template-rows: repeat(4, 1fr);
}

.firstPlace{
  grid-row: 2/-1;
  background-color: #9E23A4;
  border-radius: 10px;
}
.secondPlace{
  grid-row: 3/-1;
  background-color: #8056DE;
  border-radius: 10px;

}
.thirdPlace{
  grid-row: 4/-1;
  background-color: #3E4565;
  border-radius: 10px;

}


.firstPlace_title{
  grid-row: 1/2;
  grid-column: 2/3;
}
.secondPlace_title{
  grid-row: 2/3;
  grid-column: 1/2;
}
.thirdPlace_title{
  grid-row: 3/4;
  grid-column: 3/4;
}


.mouse_instructions{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.mouse_instructions > *, .controls > *{
  display: flex;
  flex-direction: center;
  align-items: center;
  font-size: max(1vw, 1.1vh);
}


.controls{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;

}

.manual { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10vh;
  width: min(90vw, 55vh);
  max-width: 450px;

  img
  {
    width: 12vw;
    max-width: 50px;
    height: auto;
  }
}

