#header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 25px;
    #search-bar
    {
        position: relative;
        input
        {
            background-color: var(--secondary2);
            color: white;
            width: 300px;
            height: 60px;
            border-radius: 50px;
            padding-left: 25px;
            font-size: 1.1rem;
            border: none;
        }
        input:focus
        {
            border: solid 1px var(--secondary);
        }
        .iconify
        {
            position: absolute;
            top: 50%;
            right: -40%;
            transform: translateY(-50%);
            font-size: 26px;
        }
        #search-results
        {
            background-color: var(--secondary2);
            position: absolute;
            width: 100%;
            margin-top: 7px;
            z-index: 1;
            border: solid 1px var(--secondary);
            border-radius: 12px;
            display: none;
            #search-item
            {
                padding: 15px 0px 15px 15px;
                border-radius: 12px;
                cursor: pointer;
                &:hover
                {
                    background-color: var(--secondary2-hover);
                }
            }
            #no-result
            {
                text-align: center;
                padding: 20px;
            }
        }
    }
    @media (max-width : 750px)
    {
        padding: 0px 10px;
        #search-bar
        {
            input
            {
                width: 40vw;
                height: 40px;
                font-size: 12px;
                padding-left: 15px;
            }
            .iconify
            {
                font-size: 12px;
            }
        }
    }
}

#navbar
{
    display: flex;
    justify-content: center;
    align-items: end;

    nav
    {
        margin-bottom: 40px;
        background-color: var(--secondary2);
        border-radius: 40px;
        height: 70%;
        width: 80%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 70%;
        padding: 90px 0px;
        div
        {
            display: flex;
            flex-direction: column;
            gap: 15px;
            a 
            {
                text-align: center;
                width: 100%;

                position: relative;
            }
            .selected,a:hover 
            {
                transition: 0.2s ease-in;
                &::before
                {
                    content: "";
                    height: 100%;
                    width: 5px;
                    background-color: var(--highlight);
                    
                    position: absolute;
                    border-radius: 12px;
                    left: 0;
                    box-shadow: 0px 0px 10px 0px var(--highlight);
                    animation: fadeOut 0.2s ease-in;
                }         
                .iconify
                {
                    color: var(--highlight);
                }
            }
        }
    }
    @media (max-width : 750px)
    {
        nav
        {
            background-color: var(--secondary2);
            border-radius: 0;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            height: 100%;
            width: 100%;
            
            flex-direction: row;
            align-items: center;
            gap: 9vw;
            padding: 0;
            margin: 0;
            div
            {
                flex-direction: row;
                align-items: flex-end;
                gap: 9vw;
                height: 100%;

                a
                {
                    height: 68%;
                    width: 10vw;
                }
                .selected,a:hover 
                {
                    transition: 0.2s ease-in;
                    &::before
                    {
                        content: "";
                        bottom: 0;
                        height: 7px;
                        width: 100%;
                    }         
                    .iconify
                    {
                        color: var(--highlight);
                    }
                }
            }
        }
    }
}
