#header
{
    display: flex;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
    h2
    {
        /* color: var(--secondary); */
        background: var(--level-progress);
        -webkit-background-clip: text;
        color: transparent;
    }
    #search-bar
    {
        display: flex;
        align-items: center;
        height: max(6vh, 5vw);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        input
        {
            background-color: var(--secondary2);
            color: white;
            width: max(32vw, 25vh);
            height: 100%;
            border-radius: max(3vw, 3vh);
            padding-left: 5%;
            padding-right: 12%;
            box-sizing: border-box;
            font-size: max(1.5vw, 1.5vh);
            border: none;
        }
        input:focus
        {
            border: solid 3px var(--secondary);
        }
        .iconify
        {
            position: absolute;
            top: 50%;
            right: -40%;
            transform: translateY(-50%);
            font-size: max(2.5vw, 2.5vh);
        }
        #search-results
        {
            background-color: var(--secondary2);
            position: absolute;
            top: 77%;
            width: 100%;
            margin-top: 7px;
            z-index: 1;
            border: solid 1px var(--secondary);
            border-radius: 12px;
            display: none;
            .search-item
            {
                padding: 5px 0px 5px 10px;
                border-radius: max(1vw, 1vh);
                display: flex;
                align-items: center;
                gap: 7px;
                &:hover
                {
                    cursor: pointer;
                    background-color: var(--secondary2-hover);
                    border-bottom: solid 1px var(--border-type2);
                }
                img
                {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
                img,p
                {
                    pointer-events: none;
                }
            }
            #no-result, #loading
            {
                text-align: center;
                padding: 20px;
            }
        }
    }
    @media (max-width : 820px)
    {
        justify-content: space-between;

        #search-bar
        {
            position: relative;
            left: 0;
            transform: none;
        }
    }
}

#navbar
{
    display: flex;
    justify-content: center;
    align-items: end;

    nav
    {
        margin-bottom: 40px;
        background-color: var(--secondary2);
        border-radius: 40px;
        height: 70%;
        width: 80%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 70%;
        padding: 90px 0px;
        div
        {
            display: flex;
            flex-direction: column;
            gap: 15px;
            a 
            {
                text-align: center;
                width: 100%;

                position: relative;
            }
            .selected,a:hover 
            {
                transition: 0.2s ease-in;
                &::before
                {
                    content: "";
                    height: 100%;
                    width: 5px;
                    background-color: var(--highlight);
                    
                    position: absolute;
                    border-radius: 12px;
                    left: 0;
                    box-shadow: 0px 0px 10px 0px var(--highlight);
                    animation: fadeOut 0.2s ease-in;
                }         
                .iconify
                {
                    color: var(--highlight);
                }
            }
        }
    }
    @media (max-width : 820px)
    {
        nav
        {
            background-color: var(--secondary2);
            border-radius: 0;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            height: 100%;
            width: 100%;
            
            flex-direction: row;
            align-items: center;
            gap: 9vw;
            padding: 0;
            margin: 0;
            div
            {
                flex-direction: row;
                align-items: flex-end;
                gap: 9vw;
                height: 100%;

                a
                {
                    height: 68%;
                    width: 10vw;
                }
                .selected,a:hover 
                {
                    transition: 0.2s ease-in;
                    &::before
                    {
                        content: "";
                        bottom: 0;
                        height: 7px;
                        width: 100%;
                    }         
                    .iconify
                    {
                        color: var(--highlight);
                    }
                }
            }
        }
    }
}
