@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import './views/sign.css';
@import './views/home.css';
@import './views/profile.css';
@import './views/settings.css';
@import './views/gameSettings.css';
@import './views/game.css';
@import './utils/utils.css';
@import './componants/componants.css';
@import './componants/websiteLayout.css';
@import './componants/mxodal.css';
@import './componants/game.css';

:root
{
    --background: #040715;
    --profile-box: #190B39;
    --home-highlighter : #9E23A4;
    --profile-btm : linear-gradient(to right, #190B39, #9E23A4);
    --level-progress : linear-gradient(to right, #8056DE, #C32BCA);
    --level-bar : #3E4565;
    --secondary : #8056DE;
    --secondary-hover : #6A38DC;
    --secondary2 : #190B39;
    --secondary3: #2A1260;
    --secondary2-hover : #3A1A83;
    --input-field : #0C0B2C;
    --border : rgba(255,255,255, 0.2);
    --border-type2: #8056DE;
    --text2 : #A198BA;
    
    --delete : #CC3A32;
    --button-type1 : linear-gradient(to left,#D347DB , #D347DB , #8E99E9);
    --highlight: #D347DB;
    --intra: #23A0B7;
    --intra-hover: #145662;

    --online : #15EE23;
    --playing : #FB773C;
    --offline : #D32727; 
}

* {
    padding: 0;
    margin: 0;
    font-family: 'sora', sans-serif;
}
html
{
  background-color: var(--background);
  overflow-y: none;

  #app 
  {
    height: 100vh;
    color: white;
  
    .container
    {
      height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
        gap: 10px;
    }

    &.active
    {
      color: white;
      display: grid;
      grid-template-columns: 140px auto;
      grid-template-rows: 70px auto;
      height: 100vh;
      #header
      {
        grid-column: 1 / 3;
      }
      #main
      {
        margin: 55px 30px 45px 30px;
      }
      @media (max-width : 750px)
      {
        grid-template-columns: none;
        grid-template-rows: 70px  auto 70px;
        #header
        {
          grid-row : 1 / 2;
          grid-column: 1 / 2;
        }
        #main
        {
          margin: 15px;
          grid-row : 2 / 3;
        }
        #nav-bar
        {
          grid-row : 3 / 4;
        }
      }
    }
  }
}
