Django==5.1.1
sqlparse==0.5.1
psycopg2-binary==2.9.9
django-cors-headers
djangorestframework
djangorestframework-simplejwt
djoser
requests
urllib3==1.26.15
Pillow
django-friendship
drf-yasg
# pyyaml
# drf_social_oauth2==3.1.0
# django-oauth-toolkit