game-settings-view
{
    height: 100%;
    display: grid;
    background-color: var(--secondary2);
    border-radius: 3vw;
    color: white;

    #game-settings
    {
        padding: 3vw;
        display: flex;
        flex-direction: column;
        gap: 5%;
        .settings-slider
        {
            margin-left: 20%;
            box-sizing: border-box;
            #slider-infos
            {
                display: flex;
                justify-content: space-between;
            }
            #slider-input
            {
                width: 100%;
                accent-color: var(--secondary);

            }
        }
       #button 
        {
            margin-top: auto;
            display: flex;
            justify-content: center;
            button
            {
                width: 25%;
                margin-left: 20%; 
                /* need to find a definite solution */
            }

        }

        .settings-row
        {
            display: flex;
            align-items: center;
            .settings-label 
            {
                width: 20%;
            }
            .settings-choice
            {
                flex : 1;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap : 2vw;
                input 
                {
                    display: none;
                }
                label
                {
                    padding: max(13%, 3vh);
                    text-align: center;
                    font-weight: 700;
                    font-size: max(1vw, 1.1vh);
                    border-radius: 1vw;
                    border : solid 1px var(--secondary);
                    color: var(--secondary);
                    cursor: pointer;
    
                    transition: 0.3s ease;
                }
                input:checked + label,label:hover
                {
                    background-color: var(--secondary);
                    border: solid 1px var(--secondary);
                    color: white;
                }
            }
            .settings-choice.image
            {
                label
                {
                    color: white;
                    border: none;
                }
                input:checked + label, label:hover
                {
                    color : var(--secondary);
                    border : solid 1px var(--secondary);
                }
            }
        }
            #settings-background,#settings-texture
            {
                .default 
                {
    
                    background-image: linear-gradient(to bottom,rgba(4,7,22, 0.3),rgba(4,7,22, 1) 70%), url('../../img/background.png'); 
                    background-size: cover;
                    background-repeat: none;
                }
                .popular
                {
    
                    background-image: linear-gradient(to bottom,rgba(4,7,22, 0.3),rgba(4,7,22, 1) 70%), url("static/img/background.png"); 
                    background-size: cover;
                    background-repeat: none;
                }
                .special
                {
    
                    background-image: linear-gradient(to bottom,rgba(4,7,22, 0.3),rgba(4,7,22, 1) 70%), url("static/img/background.png"); 
                    background-size: cover;
                    background-repeat: none;
                }
            }
    }
}