home-view
{
    display: grid;
    gap : 30px;
    height: 100%;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1.1fr 1fr;
    table 
    {
        width: 85%;
    }
    > div
    {
        border: solid 1px var(--border-type2);
        border-radius: 3vw;
    }

    .table-box
    {
        grid-row: 1 / 3;
    }
    #tournament
    { 
        grid-column: 2 / 5;
        background-color: var(--home-highlighter);
        position: relative;

        img
        {
            height : 113%;
            position: absolute;
            bottom: 0;
            right : max(1.5%, 2vw);
        }
        #tournament-infos
        {
            padding : 3%;
            display: flex;
            width : 55%;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
            p{
                width: 85%;
            }
            div 
            {
                display: flex;
                flex-direction: column;

                gap: 7px;
                span 
                {
                    color: var(--highlight);
                }
            }
        }
    }
    @media (max-width : 1024px) and (min-height : 650px)
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr 1fr 1fr 1fr;
        gap: 3vw;
        height: 100%;

        #tournament
        {
            grid-column: 1 / 3;
        }
        .table-box
        {
            grid-row: 2 / 5;
            grid-column: 1 / 2;
        }
    }
    @media (max-width : 450px) and (min-height : 800px)
    {
        #tournament
        {
            img
            {
                display: none;
            }
            .cover
            {
                background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0,0,0, 0.7));
            }
            #tournament-infos
            {
                width: 95%;
                padding-left: 5%;
                padding-top: 5%;
                button
                {
                    justify-self: flex-end;
                }
                p
                {
                    font-size: 0.6rem;
                    width: 100%;
                }
                h2 {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

#multiplayer
{
    background-image: linear-gradient(to bottom,rgba(4,7,22, 0.3),rgba(4,7,22, 1) 70%), url(../../assets/componants/multiplayer.jpg);
}
#remote
{
    background-image: linear-gradient(to bottom,rgba(4,7,22, 0.3),rgba(4,7,22, 1) 70%), url(../../assets/componants/remote.jpg); 
}
#local
{
    background-image: linear-gradient(to bottom,rgba(4,7,22, 0.3),rgba(4,7,22, 1) 70%), url(../../assets/componants/local.jpg); 
}
.home-mini-box
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size: cover; 
    
    div
    {
        margin: 7%;
        display: flex;
        flex-direction: column;
        gap: 5%;
        height: 40%;
        h3
        {
            color: var(--highlight);
        }
        p {
            font-size: max(0.7vw, 0.8vh);
        }
        button
        {
            width: max(30%, 6vw);
            height: max(21%, 4vh);
            text-transform: uppercase;
            font-size: max(0.7vw, 0.8vh);
            /* margin-top: auto; */
        }
    }

    @media (max-width : 1024px)
    {
        div
        {
            height: 100%;
        }
    }

}