/* profile page styling ^^ */
profile-view
{
    display: grid;
    gap: 30px;
    grid-template-rows: 1.3fr 1fr;
    grid-template-columns: 2.2fr 1fr;
    height: 100%;
    #table
    {
        height : 180px;
        table 
        {
            width: 95%;
        }
    }
    > div
    {
        border : solid 1px var(--border-type2);
        border-radius: 35px;
        color: white;
    } 
    .friends-box
    {
        grid-row : 1 / 3;
        grid-column: 2 / 4;
        padding: 10%;

        #choices
        {
            position: relative;
            display: flex;
            a {
                padding: 3% 0%;
                font-size: 1.4rem;
                text-decoration: none;
                color: var( --secondary3);
                width: 100%;
                text-align: center;
            }
            .selected
            {
                color: var(--highlight);
                transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
            #sliding-line
            {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 5px;
                border-radius: 12px;
                background-color: var(--highlight);

                /* box-shadow: 0px 0px 10px 0px var(--highlight); */
                transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
        }
    }
    /* .friends-box
    {
        grid-row: 1 / 3;
        grid-column: 2 / 4;
        height: 100%;
        h2
        {
            margin: 15px;
        }
        .friends-user-list
        {
            display: flex;
            flex-direction: column;
            margin: 0px 15px;
            gap: 15px;
            height : 550px;
            overflow-y: auto;
            &::-webkit-scrollbar
            {
                width: 15px;
            }
            &::-webkit-scrollbar-thumb
            {
                background-color: var(--secondary2);
                border-radius : 10px;
            }
            .friend 
            {
                display: flex;
                gap: 15px;
                position: relative;
                margin-right: 10px;
                img 
                {
                    width : 55px;
                    height: 55px;
                    border-radius: 50%;
                    position: relative;      
                }
                &::before
                {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
            
                    position: absolute;
                    left: 12%;
                    bottom: 0;
                    z-index: 1;
                }
                .friend-mini-box
                {
                    display: flex;
                    width: 100%;
                    gap: 60%;
            
                    #friend-info
                    {
                        
                       display: flex;
                       flex-direction: column;
                       justify-content: space-around;
                       #status 
                       {
                        color : var(--text2);
                        font-size: 0.8rem;
                       }
                    }
                    #icons
                    {
                        display: flex;
                        align-items: center;
                        .iconify
                        {
                            color : var(--text2);
                        }
                    }
                }
                &.online::before
                {
                    background-color: var(--online);
                }
                &.playing::before
                {
                    background-color: var(--playing);
                }
                &.offline::before
                {
                    background-color: var(--offline);
                }
            } */
        /* } */
    }
    #profile-box1
    {
    
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: linear-gradient(to bottom, var(--border-type2), var(--profile-box));

        #box 
        {
            background-color: var(--profile-box);
            border-radius: 35px;
            width: 99.5%;
            height: 99%;
        
            overflow: hidden;
            position: relative;
            
            #profile-box1-top
            {
                display: flex;
                justify-content: space-between;
                margin : 20px 25px 15px 20px;

                #profile-box1-top1
                {
                    display: flex;
                    gap: 5%;

                    img
                    {
                        width: max(10vh, 8vw);
                        height: max(10vh, 8vw);
                        border-radius: 50%;
                    }
                    #profile-box1-top-id
                    {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        gap:7px;
                        
                        #profile-box1-top-username
                        {
                            font-weight: 900;
                        }
                    }
                }
            }
            #profile-box1-bottom
            {
                width: 100%;
                height: 27%;
                background: var(--profile-btm);
                position: absolute;
                bottom: 0;
                
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .vertical-dividers
                {
                    border-left: 1px solid rgba(255,255,255, 0.2);
                    height: 50%;
                    margin: 15px;
                }
                
                .profile-box1-bottom-data
                {
                    font-weight: 900;
                }
                .profile-box1-box-text
                {
                    color: var(--text2);
                    font-weight: 500;
                }
                > div
                {
                    text-align: center;
                }
            }
            #profile-box1-middle
            {
                display: flex;
                flex-direction: column;
                gap: 7px;
                padding: 0px 20px;
                width: 78%;
                
                > div
                {
                    display: flex;
                    gap : 20px;
            
                    .progress 
                    {
                        height: 20px;
                        width: 100%;
                        border-radius: 20px;
                        background: var(--level-bar);
                        #level-progress
                        {
                            background: var(--level-progress);
                            background-size: 150%;
                            width: 0%;
                        }
                    }
                }
            }
        }
    }
    @media (max-width : 1024px)
    {
        grid-template-columns: 1.2fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3vw;
        #profile-box1
        {
            grid-column: 1 / 3;
        }
        .friends-box
        {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }
    }
}



