settings-view
{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap : min(5vw, 3vh);
    background-color: var(--secondary2);
    border-radius: 3vw;
    color: white;
    padding: 3vw;
    box-sizing: border-box;
    
    #settings
    {
        display: flex;
        flex-direction: column;
        gap: max(3vw, 3vh);
        width: 50vw;
        > div 
        {
            display: flex;
            align-items: center;
        }
        .settings-label
        {
            width: 20vw;
            font-size: max(0.8vw, 0.9vh);
        }
        #user-picture 
        {
            img 
            {
                height: max(6vw, 8vh);
                width: max(6vw, 8vh);
                border-radius: 50%;
                margin-right: max(2vw, 1vh);
                object-fit: cover;
                flex-shrink: 0;
            }
            input 
            {
                display: none;
            }
            #user-picture-buttons
            {
                display: flex;
                flex-grow: 1;
                gap: 1vw;

                button 
                {
                    flex-grow: 1;
                }
            }
        }
        #user-username
        {
            position: relative;
            div 
            {
                flex-grow: 1;
            }
            input
            {
                background-color: #2A1260;
                border: solid 1px var(--secondary2);
                color: white;
                box-sizing: border-box;
                padding: 0 1vw;
                height : min(5vh, 6vw);
                border-radius: min(1.5vw, 3vh);
                width: 100%;

                &:focus 
                {
                    outline: 1px solid var(--secondary);
                }
            }
            button 
            {
                position: absolute;
                height : min(5vh, 6vw);
                width: 20%;
                border-radius: min(1.5vw, 3vh);
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                top : 0;
                right: 0;
            }
        }
    }
    @media (max-width : 1024px) and (min-height : 650px)
    {
        #settings
        {
            width: 100%;
        }
    }
    @media (max-width : 450px) and (min-height : 800px)
    {
        #user-picture-buttons
        {
            flex-direction: column;
            align-items: flex-end;
            button
            {
                width: 80%;
            }
        }  
    }
}