settings-view
{
    display: grid;
    gap: 3vw;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.8fr 1fr;
    color : white;
    > div
    {
        border: solid 1px var(--border-type2);
        border-radius: 35px;
        padding: 2vh;
        overflow: hidden;
    }
    #settings-box1
    {
        display: flex;
        flex-direction: column;
        gap: 3vw;
        #user-picture 
        {
            display: flex;
            align-items: center;
            gap: 15px;
            img 
            {
                height: max(7vw, 9vh);
                width: max(7vw, 9vh);
                border-radius: 50%;
            }

            div 
            {
                display: flex;
                gap : 1vw;
            }
          
            input 
            {
                display: none;
            }
        }
        #user-username
        {
            p 
            {
                padding-bottom: 1vh;
            }
            div 
            {
                position: relative;
                width: 70%;
                input 
                {
                    height: min(7vh, 7vw);
                    border-radius: 7px;
                    border: none;
                    background-color: var(--secondary2);
                    color: white;
                    padding-left: 1vw;
                    /* position: relative; */
                    width: 100%;
                }
                button 
                {
                    position: absolute;
                    bottom: 0;
                    right: -3vw;

                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                }
            }
        }
    }
    #settings-box3
    {
        grid-column: 1 / 3;
        justify-content: space-around;

        .button-type3
        {
            width: max(14vw, 14vh);
            height: min(8vw, 8vh);
        }
    }
    #settings-box2
    {
        gap: 25px;
        #switch
        {
            position: relative;
            width : 75px;
            height: 30px;
            cursor: pointer;
            input 
            {
                display: none;
            }
            span 
            {
                position: absolute;

                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: var(--secondary2);

                border-radius: 50px;
                transition: 0.3s ease-in;
                &::before
                {
                    content: '';
                    position: absolute;
                    width : 26px;
                    height: 26px;
                    border-radius: 50%;
                    top : 2px;
                    left: 3px;
                    background-color: var(--text2);
                }
            }
            input:checked + span 
            {
                background-color: var(--secondary);
            }
            input:checked + span:before
            {
                transform: translateX(44px);
            }
        }
    }
    #settings-box3,#settings-box2
    {
        display: flex;
        flex-direction: column;
        div 
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p 
            {
                color: var(--text2)
            }
        }
    }
}

@media (max-width : 1024px)
{
    settings-view
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.3fr 1fr;

        #user-picture-buttons
        {
            flex-direction: column;
            gap: 1vh;
        }
    }
}