#app
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    #image-cover
    {
        background-image: linear-gradient(to right,rgba(4,7,22, 0) ,rgba(4,7,22, 1) 95%), url(../../assets/componants/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }
    .intra,.line-text
    {
        height: 60px;
        width: 300px;
    }
    .line-text{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .line-text::before,
    .line-text::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid rgba(102, 102, 102, 35%); 
        margin: 0 10px; 
    }

    .intra 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--intra);
        color: white;
        border-radius: 35px;
        text-decoration: none;
        &:hover
        {
            background-color: var(--intra-hover);
            cursor: pointer;
        }
        span
        {
            font-size: 20px;
            font-weight:900;
        }
        p, img
        {
            pointer-events: none;
        }
    }
    #redirect 
    {
        display: flex;
        gap : 7px;
        a 
        {
            color: white;
        }
    }
}

@media (max-width : 750px)
{
    #app 
    {
        grid-template-columns: 1fr;

        #image-cover
        {
            display: none;
        }
    }
}