@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import './css/Sign.css';
@import './css/register.css';
@import './css/websiteLayout.css';
@import './css/profile.css';
@import './css/home.css';
@import './css/settings.css';
@import './css/game.css';
@import './css/popup.css';
@import './game.css';


:root
{
    --background: #040715;
    --delete : #CC3A32;
    --profile-box: #190B39;
    --home-highlighter : #9E23A4;
    --profile-btm : linear-gradient(to right, #190B39, #9E23A4);
    --level-progress : linear-gradient(to right, #8056DE, #C32BCA);
    --level-bar : #3E4565;
    --secondary : #8056DE;
    --secondary-hover : #6A38DC;
    --secondary2 : #190B39;
    --secondary2-hover : #3A1A83;
    --input-field : #0C0B2C;
    --intra: #23A0B7;
    --intra-hover: #145662;
    --border : rgba(255,255,255, 0.2);
    --border-type2: #8056DE;
    --highlight: #D347DB;
    --text2 : #A198BA;

    --button-type1 : linear-gradient(to left,#D347DB , #D347DB , #8E99E9);

    --online : #15EE23;
    --playing : #FB773C;
    --offline : #D32727; 
}

* {
    padding: 0;
    margin: 0;
    font-family: 'sora', sans-serif;
}
html
{
    background-color: var(--background);
}
#app
{
  height : 100vh;
}
#app.active
{
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-rows: 70px auto;
  gap: 0px;
  height: 100vh;
  #header
  {
    grid-column: 1 / 3;
  }
  #main
  {
    margin: 55px 30px 45px 30px;
  }

}

.iconify
{
  color: white;
  font-size: 32px;
  width: 100%;
  :hover 
  {
    color : var(--highlight)
  }
}
/* centered container */

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* button type 1 */
.button-type1
{
    width: 350px;
    height: 60px;
    border-radius: 35px;
    margin: 7px 0px;

    border: none;
    background: var(--button-type1);
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    background-size: 200%;
    background-position: 0%;
}

.button-type1:hover
{
    cursor: pointer;
    animation: anime 1.3s forwards;

}

/* type 2 */

.button-type2
{
  width: 160px;
  height: 69px;

  border-radius: 12px;
  background-color: var(--highlight);
  color: white;
  font-size: 1.6rem;
  font-weight: 900;
  cursor: pointer;
  border: none
}

.button-type2:hover
{
  transition: 0.2s ease-in;
  border: solid 1px var(--highlight);
  background-color: rgba(0,0,0,0);
  color: var(--highlight)
}

.button-type3
{
    width: 200px;
    height: 60px;
    border : none;
    border-radius: 7px;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    background-color : var(--delete);
    color : white;
}

.button-type3:hover
{
  transition: 0.2s ease-in;
  border: solid 1px var(--delete);
  background-color: rgba(0,0,0,0);
  color: var(--delete)
}

.button-type4
{
    width: 120px;
    height: 50px;
    border : none;
    border-radius: 7px;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    background-color : var(--secondary);
    color : white;
}

.button-type4:hover
{
  transition: 0.2s ease-in;
  background-color: var(--secondary-hover);
}
/* type 3 */

.anchor-box
{
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle
{
  border-radius: 50%;
  background-color: var(--secondary2);
  
  &:hover
  {
    background-color: var(--secondary2-hover);
  }
}

.square 
{
  background-color: var(--secondary);
  border-radius: 15px;
  &:hover
  {
    background-color: var(--secondary-hover);
  }
}  


.status 
{
  position: relative;
}  
.status::after
{
  content: "";
  background-color: var(--online);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  
  position: absolute;
  top: 7px;
  right: 15px;
} 

.message-info
{
    color: var(--text2);
    font-weight: 300;
    font-size: 0.9rem;
}


.table-box
{
  h3 {
    padding: 20px 0px 20px 20px;

  }
  #table
  {
      margin: 0 auto;
      width: 90%;
      overflow-y: auto;

      &::-webkit-scrollbar
      {
          width: 15px;
      }
      &::-webkit-scrollbar-thumb
      {
          background-color: var(--secondary2);
          border-radius: 10px;
      }
      table
      {
          border-collapse: collapse;
          margin: 0 auto;
          thead
          {
              border: 1px solid rgba(255,255,255, 0.2);
              font-size: 0.8rem;
          }
          th
          {
              background-color: var(--secondary2);
          }
          th, td
          {
              padding: 10px;
              text-align: left;
            }
            
            td
            {
              font-size: 0.7rem;
              border-bottom: 1px solid rgba(255,255,255, 0.1);
          }
          
          td[class="message-info"]
          {
              padding-top: 50px;
              border: none;
              text-align: center;
          }
      }
  }
}

/* cover */

.cover
{
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 30%, rgba(0,0,0, 0.3));
  border-radius: 35px;
  height: 100%;
}
@keyframes anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
